{% extends "_base.html" %}
{% block content %}
    <h1 class="sr-only">Welcome to UDISAS</h1>
    <div class="">
        <div class="relative isolate overflow-hidden pt-14">
            <img src="/images/group_at_tablet.jpg" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover">
            <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
                <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
            </div>
            <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
                <div class="bg-slate-50 p-10 mx-2">
                    <p class="text-udblue uppercase text-lg md:text-4xl font-bold">The first online self-assessment platform for identifying difficulties, evaluating needs, and introducing support that can transform futures.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="py-10 px-2">
        <iframe class="mx-auto aspect-video" width="560" height="315" src="https://www.youtube-nocookie.com/embed/LSPWN3znx30?si=9CCjc2YSmqU9bjnO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="bg-udblue py-10 px-2">
        <h2 class="text-white uppercase text-2xl md:text-7xl text-center font-bold mb-8">Time for a new approach</h2>
        <p class="text-white md:text-center max-w-5xl mx-auto text-lg md:text-3xl/normal">
            Traditional needs assessment is flawed. It is a professional with no formal qualification, no standardised training, and no third-party accreditation. An assessor works in a silo and is subject to no external regulation and no external quality assurance. Support recommendations are often prescriptions of familiar and favoured solutions rather than offering the recipient any real choice. Time constraints undermine the process throughout, leading to scheduling challenges, a pressurised assessment window, and report submission delays that lead to complaints. If that wasn't enough, traditional assessment is expensive, obstructing a person's access to support when funding is not available.
        </p>
        <div class="bg-white text-center max-w-5xl mx-auto my-10 py-10 px-4">
            <p class="text-udblue text-3xl">"No qualifications are required in order to become an NA and we heard mixed reports about whether students felt confident in their NA's level of disability-specific expertise and  understanding."</p>
            <p class="text-black text-xl mt-4 font-bold">Report into the Disabled Students' Allowance (DSA), Lord Chris Holmes of Richmond, March 2022.</p>
        </div>
        <p class="text-white md:text-center max-w-5xl mx-auto text-lg md:text-3xl/normal">
            UDISAS has been designed to solve all of these problems, revolutionise the assessment process, and support people in education or the workplace with interventions that actually deliver what they the promise.
        </p>
        <div class="text-center my-10">
            <a href="/contact/" class="uppercase bg-udyellow text-udblue p-4 text-3xl rounded hover:underline">Book a demo</a>
        </div>
    </div>
    <div class="py-10 px-2">
        <h2 class="text-udblue uppercase text-3xl md:text-7xl text-center font-bold mb-8">What makes UDISAS different?</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-10 max-w-5xl mx-auto">
            <div class="">
                <h3 class="text-udblue text-3xl mb-6">For end-users</h3>
                <ul class="list-disc text-2xl ml-6 flex flex-col gap-6">
                    <li>It delivers a comprehensive high-quality and thorough assessment.</li>
                    <li>It offers an extensive range of support solutions.</li>
                    <li>It features tools to help guide decision making while keeping you in the driver's seat.</li>
                    <li>It creates instantaneous detailed reports.</li>
                    <li>Complete wherever, whenever, and however you like, at your own pace on any device.</li>
                </ul>
            </div>
            <div class="">
                <h3 class="text-udblue text-3xl mb-6">For support providers</h3>
                <ul class="list-disc text-2xl ml-6 flex flex-col gap-6">
                    <li>A consistent standard of assessments and reports.</li>
                    <li>No service delays due to poor assessor workload management.</li>
                    <li>A huge reduction in overheads and operating costs.</li>
                    <li>Tens of thousands of work hours saved.</li>
                    <li>Meet your KPIs with ease and enhance your reputation for excellence.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="relative bg-udlightblue">
        <div class="mx-auto max-w-7xl">
            <div class="relative z-10 pt-14 lg:w-full lg:max-w-2xl">
                <svg class="absolute inset-y-0 right-8 hidden h-full w-80 translate-x-1/2 transform fill-udlightblue lg:block" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                    <polygon points="0,0 50,0 90,100 0,100" />
                </svg>
                <div class="relative px-6 md:py-32 sm:py-40 lg:px-8 lg:py-56 lg:pr-0">
                    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl">
                        <h1 class="text-3xl md:text-6xl/tight font-bold text-udblue">"My assessment with Robin was outstanding"</h1>
                        <p class="mt-6 text-2xl md:text-3xl/normal text-udblue">No stone was left unturned! I am so pleased with the way the assessment went and feel blessed that I will now receive the right kind of support for my studies.</p>
                        <div class="my-10">
                            <a href="/contact/" class="inline-block uppercase bg-udblue text-white p-4 text-2xl md:text-3xl rounded hover:underline">Book a demo today</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-gray-50 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
            <img class="aspect-[3/2] object-cover lg:aspect-auto lg:h-full lg:w-full" src="/images/lady_at_laptop.jpg" alt="">
        </div>
    </div>
    <div class="bg-udblue py-10 px-2">
        <p class="text-white text-center max-w-5xl mx-auto text-2xl md:text-5xl/relaxed">
            Superior <span class="text-udlightblue">user experience</span>, <span class="text-udlightblue">instantaneous</span> high-quality reports, more <span class="text-udlightblue">effective</span> outcomes.
        </p>
        <p class="text-white text-center max-w-5xl mx-auto text-2xl md:text-5xl/relaxed mt-4">
            This is our mission.
        </p>
        <div class="text-center my-10">
            <a href="/contact/" class="inline-block uppercase bg-udyellow text-udblue p-4 text-3xl rounded hover:underline">Book a demo today</a>
        </div>
    </div>
{% endblock content %}
